.current-player {
  background-color: var(--medium);
  border-radius: 5px;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hand-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
}

.hand {
  display: flex; 
  flex-wrap: wrap;
  gap: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.rank {
  position: relative;
  width: 70px; //needs to be the same width as .game-card width
  height: 250px; //this determines the height of the game-body
  @for $i from 1 through 12 { //at most 12 cards in a rank
    :nth-child(#{$i}) {
      top: 20px * $i;
    }
  }
  &:hover {
    transform: translate(0, -8px);
    transition: transform 0.3s ease; 
    cursor: pointer;
  }
}

.game-card {
  position: absolute;
  max-width: 70px;
  min-width: 70px;
}

.players {
  display: flex;
  gap: 100px;
}

.player {
  padding: 5px;
}

.play-pile {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}